.login {
    height: 90vh;
}
img{
  width: 155px;
  height: 71px;
}

.text-color {
    color: #475467;
}

.text-weight {
    font-weight: 600;
}

.btn-sign {
    background-color: #1F4068;
    color: white;
    padding: 10px 0;
}

::ng-deep .form-check input[type="checkbox"],
::ng-deep .radio input[type="radio"]{
  opacity: 1 !important;
  visibility: visible !important;
}

::ng-deep .form-check .form-check-label{
  padding-left: 6px !important;

}
