<!-- <app-edite-user-details></app-edite-user-details> -->
<!-- start header  -->
<header>
  <app-head (newItemEvent)="addItem($event)" [titleModule]="'checkOut'"></app-head>
</header>
<!-- end header  -->

<div class="row m-0">

  <!-- start sidebar  -->
  <app-sidebar class="col-lg-2" [showSide]="showSide" [titlepage]="'checkOut'"></app-sidebar>
  <!-- end sidebar  -->

  <!-- start content page  -->
  <main class="p-4 col-lg-10 ">
    <div class="d-md-flex justify-content-between" style="margin-bottom:20px">
      <div class="d-flex" style="align-items: center;">
          <p class="fw-bold me-2" style="color: #6c6a6a;margin-bottom: 0px;"><a  style="color: #6c6a6a;"class="removeUnderLine" routerLink="/inquiries">Inquiries </a></p>

          <p class="fw-bold me-2" style="margin-bottom: 0px;color: #605D62;">></p>
          <p class="fw-bold" style="color: #6c6a6a;margin-bottom: 0px;">Ready Checkout </p>
      </div>
      <div class="d-flex justify-content-lg-between ">
        <div class="d-flex justify-content-between ">

        </div>
         <app-dropdown class="ms-3" [list]="listDropDown" style="margin-right: 24px;margin-top: 2px;" (selected)="selectedfromDropDown($event)"></app-dropdown>

    </div>
  </div>


      <p-toast></p-toast>
      <div class="card mt-2">
        <div class="d-block d-md-flex justify-content-between my-2 bg-white p-3">
           <div class="d-flex align-items-center " style="overflow: auto;    font-size: 15px;">
              <div *ngFor="let data of InquireFillterLists;let index=index;">
                  <div class="d-flex ">
                      <button class="apartmentList border-0 bg-transparent pb-2 mx-2 buttomstyle" (click)="clickIquires(index)" [class.clickApartmentList]="InquireFillterSelected[index]==true">{{data}}</button>
                      <div class="none">
                          <img src="assets/images/line.svg" [class.d-none]=" index == InquireFillterLists.length-1">
                      </div>

                  </div>

              </div>

          </div>


      </div>
          <!-- <p-table #dt [value]="partners" [(selection)]="partners" dataKey="id" [filterDelay]="0" /> -->

          <p-table class="table-shopping" [selectionPageOnly]="true" [tableStyle]="{'min-width': '50rem' ,'min-': '50rem'}" [value]="checkOut">
              <ng-template pTemplate="header" class="text-center">
                  <tr *ngIf="headerData">
                      <ng-container>


                          <th class="td-name">
                            booking ID

                          </th>

                          <th class="td-name">
                            User name

                          </th>

                          <th class="td-name">
                            Requested  apartment

                          </th>
                          <th class="td-name">
                            deposit

                          </th>
                          <th class="td-name">
                            start date

                          </th>
                          <th class="td-name">
                            end date

                          </th>
                          <th class="td-name">
                            Status

                          </th>

                          <th class="td-name">
                          </th>
                      </ng-container>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-check>

                  <tr (click)="hidecard()">
<td>{{check.req_Code}}</td>

                      <td>
                          <img *ngIf="check.user_Photo"  [src]="check?.user_Photo" style="height: 50px;width: 50px;border-radius: 50%;margin-right: 9px; cursor: pointer;">
                          <img *ngIf="!check.user_Photo"   src="../../../assets/images/Frame 1261154899.svg" style="height: 50px;width: 50px;border-radius: 50%;margin-right: 9px;cursor: pointer;">      {{check?.user_Name}}

                      </td>
                      <td>
                          {{check?.rented_Apt}}
                      </td>
                      <td>
                          {{check?.rent_Deposit}}
                      </td>

                      <td>
                          {{check?.start_Date}}
                      </td>
                      <td>
                        {{check?.end_Date}}
                    </td>

<td>
  <span class="spanready" *ngIf="check.status=='Ready'">
    <img src="../../../assets/images/ready.svg">
    {{check.status}}</span>
    <span class="spanready" style="background-color: #ECFDF3;" *ngIf="check.status=='completed'">
      <img src="../../../assets/images/comp.svg">
      {{check.status}}</span>
      <span class="spanready" style="background-color: #FFF4ED;" *ngIf="check.status==' end soon'">
        <img src="../../../assets/images/end.svg">
        {{check.status}}</span>

  </td>


                      <td class="cursor position-relative" style="text-align: center;">
                          <button class="border-0 outlin-0 bg-transparent" (click)="detailperson($event,check.req_ID)">
        <img src="assets/images/edit.svg">
    </button>
                          <div *ngIf="showEdit[check.req_ID] " style="width: 191px;z-index: 999;right: 98px;" class="position-absolute z-3 rounded-3 bg-white border edit-button">

                              <button class="d-block border-0 outlin-0 bg-transparent button w-100 text-start py-2" routerLink="/inquiries/checkout/{{check.req_ID}}" > View Details  </button>
                              <button class="d-block border-0 outlin-0 bg-transparent button w-100 text-start py-2"(click)="InsertCheckOut(check.req_ID)"  > send check out sheet  </button>


                          </div>

                      </td>

                  </tr>

              </ng-template>


              <ng-template pTemplate="emptymessage">
                  <div class="container text-center mt-4">
                      <p class="mb-0">No data found.</p>
                  </div>
              </ng-template>

          </p-table>
          <p-paginator (onPageChange)="tiggerPageChange($event)" [rows]="pagesize" [totalRecords]="totalRecords"></p-paginator>

          <!-- <div style="width: 100%; height: 72px; padding-top: 12px; padding-bottom: 16px; padding-left: 24px; padding-right: 24px;   justify-content: space-between; align-items: center; display: inline-flex">
        <div style="border-radius: 4px; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">

            <button (click)="decreamentPage( )" [disabled]="disableperv" class="  cvxs" style="text-align: center; color: #1F4068; font-size: 16px; font-family: 'Montserrat'; font-weight: 500; line-height: 20px; word-wrap: break-word">
          Previous
</button>
        </div>
        <div style="color: #484649; font-size: 14px; font-family: 'Montserrat'; font-weight: 400; line-height: 20px; word-wrap: break-word">Page {{pageNumber}} of {{totalofPages}}</div>
        <div style="border-radius: 4px; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">

            <button [disabled]="disablenext" (click)="   incrementpage( )" class="  cvxs" style="text-align: center; color: #1F4068; font-size: 16px; font-family: 'Montserrat'; font-weight: 500; line-height: 20px; word-wrap: break-word">
              Next
</button>
        </div>
    </div> -->
      </div>
  </main>
  <!-- end content page  -->
</div>
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display1}" style=" background-color: rgb(23 22 22 / 50%);;">
  <div class="modal-dialog" role="document" style="max-width: 416px;">
      <div class="modal-content" style="margin-top: 150px;">
          <div class="modal-header" style="background-color:#ffffff; border-bottom: none !important;    padding-bottom: 0px;">
              <p class="modal-title" style="color: #1C1B1F; font-size: 20px;   font-weight: 600; line-height: 24px; word-wrap: break-word">
                  <span class="form-label gray fw-bold" style="vertical-align: middle; padding-left:8px">
           </span>
              </p>
              <button type="button" style="border:none;background-color: #ffffff;width: 68px;height: 50px;" class="close" aria-label="Close" (click)="onCloseModal1()">
<span aria-hidden="true" style="color: #000000;font-size: 35px;">&times;</span>
</button>
          </div>
          <div class="modal-body"style="text-align: center;padding-top:0px">
            <img src="../../../assets/images/confirmm.png">


  <p style="margin-bottom: 0px;font-weight: 500;" >sent successfully!</p>
  <p style="margin-bottom: 0px;"><b>check out sheet </b>has been sent successfully</p>
  <button  (click)="onCloseModal1()"  class="rounded-2 text-white rounded-2 border-0 py-2 px-4 " style="background-color: #1f4068 !important ;    margin-top: 15px;
  margin-bottom: 15px;">
    ← Back
</button>
          </div>

      </div>
   </div>
 </div>
