@media (min-width: 776px) {
    .modal-dialog {
        max-width: 850px;
        margin-right: auto;
        margin-left: auto;
    }
    .xcvddmodel {
        margin-right: 535px !important;
    }
}

.file {
    z-index: 3 !important;
    opacity: 0;
    cursor: pointer;
}

.h-124px {
    height: 124px !important;
}

.w-145px {
    width: 145px;
}

@media (min-width: 768px) {
    .marmodify {
        margin-left: 486px;
    }
}

td {
  font-size: 14px !important;
  padding: 16px 24px !important;
  font-family: 'Poppins';
  height: 72px;
  border-bottom: 1px solid #F6F6F6 !important;

}
th {
    font-size: 14px !important;
    font-family: 'Poppins';
    border-bottom: 1px solid #F6F6F6 !important;
    background: #F6F6F6 !important  ;
}

.modal{
  background: rgba(0,0,0, .5);
  justify-content: center;

  .modal-body{
    span{
      width: 48px;
      height: 48px;
      border-radius: 28px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
      border: 8px solid #FFFBF9;
      background: linear-gradient(0deg, #FCEEEE, #FCEEEE),      linear-gradient(0deg, #FFFBF9, #FFFBF9);
}
    img.icon{
      width: 24px;
      height: 24px;
    }
    h5{
      font-size: 18px;
      font-weight: 500;
      line-height :29.52px;
    }
    p{
      font-size: 14px;
      font-weight: 600;
      line-height: 21px;
      color: #475467;
    }
  }
 .modal-footer{
  button{
    padding: 12px, 24px, 12px, 24px;
    box-shadow: 0px 1px 0px 0px #0000000D;
    border-radius: 6px;
    border: 1px solid #222;
    width: 100px;
  }
 }
 .btn.btn-color{
  background-color: #1F4068;
  color: #fff;
}
.btn.btn-delete{
  background-color: #fff;
  color: #1F4068;
}
}
.modal-header
{
  border-bottom: unset;
}
.modal-footer{
  border-top: unset;
}
