

.custom-paginator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #fff;
  border-radius: 0.25rem;

}

.custom-paginator-button {
  font-size: 16px;
  padding: 0.375rem 1rem;
  border-radius: 0.25rem;
  background-color: #fff;
  border: 1px solid #ced4da;
  color: #1F4068;
  cursor: pointer;
}

.custom-paginator-button:hover {
  background-color: #e9ecef;
}

.custom-paginator-text {
  font-size: 14px;
  color: #495057;
}





.custom-button {
  font-size: 14px;
  padding: 0.375rem 1rem;
  border-radius: 0.25rem;
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  color: #495057;
  box-shadow: none;
}

.custom-button:hover {
  background-color: #e9ecef;
}

.custom-add-new {
  font-size: 14px;
  padding: 0.375rem 1rem;
  border-radius: 0.25rem;
  background-color: #007bff;
  border: 1px solid #007bff;
  color: #fff;
}

.custom-icon {
  width: 14px;
  height: 14px;
  margin-left: 5px;  
}

.custom-header {
  font-size: 15px;
}

.custom-label-text {
  color: #313331;
  font-weight: 500;
  font-size: 16px;
  margin-right: 10px;
}

.custom-today-btn {
  display: flex;
  align-items: center;
}









.apartmentList {
    color: #787579;
    &:hover {
        border-bottom: 2px solid #1f4068 !important;
        font-weight: 600;
        color: #1f4068 !important;
    }
}

.paroductApartment {
    p {
        color: #605d62;
    }
    .details {
        border: 1px solid #dfdfdf;
        max-height: 220px;
    }
    .apartmentImage {
        border-radius: 8px 8px 0px 0px;
        max-height: 184px;
    }
    .Price {
        color: #1F4068;
        font-weight: 600;
        font-size: 24px;
        line-height: 33.6px;
        .time {
            font-size: 16px;
            line-height: 16px;
            position: relative;
            top: -2px;
        }
    }
}

.pointer {
    cursor: pointer;
}

.rentedORavailable {
    background-color: rgb(255 255 255 / 70%);
    color: #1f4068 !important;
}

.rented {
    color: #1f4068 !important;
}

.available {
    color: #12b76a !important;
}

.clickApartmentList {
    color: #1f4068 !important;
    font-weight: 600;
    border-bottom: 2px solid #1f4068 !important;
}

.none {
    @media (max-width: 992px) {
        display: none;
    }
}

.p-fileupload-buttonbar .p-button {
    margin-bottom: 10px !important;
}

.cvxs {
    text-align: center;
    color: #1019c6 !important;
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 500;
    line-height: 20px;
    word-wrap: break-word;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    overflow: hidden;
    border: 1px #8FA0B4 solid;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    display: flex;
}

.CCCCFSMILY {
    font-family: 'Poppins'
}

.input{
  position: relative;
  img{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
}
::placeholder{
  font-size: 13px !important;
}
.p-dropdown-items-wrapper {
  max-height: 250px !important;
}
