.gray {
    color: #6c6a6a;
}

.blue {
    color: #1F4068
}

.file {
    z-index: 3 !important;
    opacity: 0;
    cursor: pointer;
}

.h-124px {
    height: 124px !important;
}

.w-145px {
    width: 145px;
}
.backcancel {
  border: 1px solid#798CA4 !important;
  color: #0C1A2A !important;
}
.imageRemove {
  margin-top: 10px;
  margin-left: 10px;
  cursor: pointer;
}
.star{
cursor: pointer;
}
.modal .modal-header{
  position: relative;
  top: 0px !important;
  z-index: 9999;
  button{
    background-color: #1F4068;
    width: 40px;
    height: 40px;
    padding: 7.875px 8px 8.125px 8px;
    border: none;
    outline: none;
  }
}

* {
    font-family: 'Poppins'
}
