// @import url('../../../assets/scss/now-ui-dashboard/_variables.scss');
.month,
.week {
    color: #757a82;
    background-color: white;
    border: 1px solid #ebebeb;
}

.table-abrtment,
.recentActivity {
    background-color: white;
    border: 1px solid #ebebeb;
    // height: 484px;
}
.recentActivity {
    @media (min-width: 1200px) {
        width: 320px;
    }
}
.buttons{
  button{
    border: none;
    outline: none;
    color:  #605D62;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 15px;
    background-color: transparent;
    position: relative;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    &::after{
      content: "";
      position: absolute;
      left: 15px;
      bottom: -2px;
      width: 0;
      height: 2px;
      background-color: #605D62;
    }
}
}
.buttons button.active::after,
.buttons button:hover::after {
  width: 70%;
}
canvas{
  width: 320px;
  height: 320px;
}

.fs-16 {
    font-size: 16px;
}

.fs-12 {
    font-size: 12px;
}

.fs-1rem {
    font-size: 1rem;
}

.color-gray {
    color: #939094;
}

.blue {
    color: #344054;
}

.viewAll-button {
    height: 35px;
}
.card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin: 1.25rem 0 1.25rem 0;
  box-shadow: 0 .25rem .5rem #e6edef;
  border-radius: 8px;
  border: 1px solid #EBEBEB;
}
table{
  thead .main th{
    height: 20px;
    font-weight: 500 !important;
    font-size: 14px !important;
    padding: 12px !important;
    border-bottom: 1px solid #F6F6F6 !important;
    background: #F6F6F6 !important  ;
  }
  tr{
    td{
      font-size: 14px !important;
      padding: 16px 24px !important;
      height: 72px;
      border-bottom: 1px solid  #F6F6F6 !important;
    }
  }
  .badge{
    font-size: 13px ;
    padding: 4px 8px;
    font-weight: 500;
}
  .rented {
    color: #027A48;
    background-color: #ECFDF3;
    ;
}
}
.btn.btn-color{
  color: #1F4068 !important;
  border-radius: 8px;
  font-weight: 500;
  background-color: #fff !important;
  border: 1px solid var(--Neutral-Neutral90, #EBEBEB);
}
.line-height {
    line-height: 0.1;
}

@media (min-width: 993px) {
    .recentActivity {
        width: 30% !important;
    }
    .table-abrtment {
        width: 70% !important; // islam
    }
}
.total-detals {
    padding: 16px;
    border: 1px solid #EBEBEB;
    border-radius: 12px;
    margin-bottom: 10px;
    background-color: white;
    h3 {
        font-weight: 700;
    }
}
.red{
    color:red
}
.green{
    color: green;
}
span.icon{
  color: var(--Primary-40, #1F4068);
  font-size: 22.78px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}
.image-size{
    width: 30px;
    height: 33px;
}
.marginTop{
  margin-top: 7px !important;
}
