<!-- start header -->
<header>
  <app-head (newItemEvent)="addItem($event)" [titleModule]="'Dashboard'"></app-head>
</header>
<!-- end header -->
<div class="row m-0">
  <!-- start sidebar  -->
  <app-sidebar class="col-lg-2" [showSide]="showSide" [titlepage]="'dashboard'"></app-sidebar>
  <!-- end sidebar  -->
  <!-- start content page  -->


  <main class=" p-4 col-lg-10">
    <!-- start part 1 in page  -->
    <div class="d-md-flex justify-content-between dashboard">
      <p class="fw-bold" style="color: #6c6a6a;">Dashboard</p>
      <div class="d-flex justify-content-lg-between ">
        <div class="d-flex justify-content-between ">
          <button class="month rounded-start px-3 py-1 outline-none">This Month</button>
          <button class="week rounded-end px-3 py-1 outline-none">Last Week</button>
        </div>
        <!-- start dropdown button  -->
        <app-dropdown class="ms-3" [list]="listDropDown" (selected)="selectedfromDropDown($event)"></app-dropdown>
        <!-- end dropdown button  -->
      </div>
    </div>
    <!-- end part 1 in page  -->
    <p-toast></p-toast>
    <!-- start part 2 in page  -->
    <div class="mt-3 row g-4">
      <!-- start total details cards -->

      <div class="col-12 col-md-6 col-lg-4">
        <div class="total-detals">
          <div class="d-flex align-items-center">
              <span class="icon">€</span>
              <span class="mx-3 fw-bold">Total Revenue</span>
          </div>
          <div>
              <h3 class="my-2">205</h3>
              <div>
                  <i class="fa fa-arrow-down red" *ngIf="DashCards.tentant_Up==false" aria-hidden="true"></i>
                  <i class="fa fa-arrow-up green" *ngIf="DashCards.tentant_Up==true" aria-hidden="true"></i>
                  <span class="ms-1 fw-bold" [class.red]="DashCards.tentant_Up==false" [class.green]="DashCards.tentant_Up==true"
                  >10 %</span>
                  <span class="mx-3">vs last month</span>
              </div>
          </div>
      </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="total-detals">
          <div class="d-flex align-items-center">
            <span class="icon">€</span>
              <span class="mx-3 fw-bold">Total expenses</span>
          </div>
          <div>
              <h3 class="my-2">250</h3>
              <div>
                  <i class="fa fa-arrow-down red" *ngIf="DashCards.apartment_Up==false" aria-hidden="true"></i>
                  <i class="fa fa-arrow-up green" *ngIf="DashCards.apartment_Up==true" aria-hidden="true"></i>
                  <span class="ms-1 fw-bold" [class.red]="DashCards.apartment_Up==false" [class.green]="DashCards.apartment_Up==true"
                  >10 %</span>
                  <span class="mx-3">vs last month</span>
              </div>
          </div>
      </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="total-detals">
          <div class="d-flex align-items-center">
            <span class="icon">€</span>
              <span class="mx-3 fw-bold">Net profit
               </span>
          </div>
          <div>
              <h3 class="my-2">1200</h3>
              <div>
                  <!-- <i class="fa fa-arrow-down red" *ngIf="DashCards.issues_Up==false" aria-hidden="true"></i> -->
                  <i class="fa fa-arrow-up green"  aria-hidden="true"></i>
                  <span class="ms-1 fw-bold green"
                  >100 %</span>
                  <span class="mx-3">vs last month</span>
              </div>
          </div>
      </div>
      </div>
      <!-- end total details cards -->
    </div>
    <!-- end part 2 in page  -->
    <!-- start part 3 in page  -->
    <div class=" row g-4">
      <!-- start recent activities diagram  -->
      <div class="col-12 col-md-6 col-lg-8">
        <div class="card ">
          <div class="p-3 pb-3 d-flex justify-content-between align-items-center border-1">
            <h6  class="title pt-2">Recent activities</h6>
            <button class="btn btn-color">View All</button>
          </div>
            <table class="table table-borderless align-middle table-fixed table-mobile-responsive ">
              <thead class="align-middle bg-light">
              <tr class="main border-1" >
                <th >user</th>
                <th >activity</th>
                <th >apartment</th>
                <th>action</th>
              </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of RecentActivitiesarr?.slice(0,4) ; let i =index ">
                 <td>
                  <div>
                      <img src="{{item.userImg}}" alt="" style="width:50px ;height: 50px;" class="rounded-circle me-2">
                      <span class="fw-bold">{{item.userName}}</span>
                  </div>
                 </td>
                 <td>{{item.act_Type}}</td>
                 <td>{{item.act_Desc}}</td>
                 <td>
                  <button class="btn btn-color">View</button>
                 </td>


                </tr>
              </tbody>
            </table>
          </div>
      </div>
      <!-- end recent activities diagram  -->

      <!-- start Apartments Rented & Free diagram -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card py-3">
          <h5 class="fw-semibold px-3">Rented & Free</h5>
          <div class="text-center buttons">
            <button class="active">All</button>
            <button>Apartments</button>
            <button>Rooms</button>
            <button>Beds</button>
          </div>
          <div class="d-flex justify-content-center align-items-center pt-3">
            <div class="flex justify-content-center  position-relative" style=" box-shadow: none;">
              <p-chart type="doughnut" [data]="dataChart" [options]="options"></p-chart>
              <div class="position-absolute translate-middle top-50 start-50">
                <h5 class="mt-5">All</h5>
              </div>
             </div>
           </div>
        </div>


         </div>
      <!-- end Apartments Rented & Free diagram -->
    </div>

    <div class="row g-4">
      <!-- start recent activities diagram  -->
      <div class="col-12 col-md-6 col-lg-8">
        <div class="card ">
          <div class="p-3 pb-3 d-flex justify-content-between align-items-center border-1">
            <h6  class="title pt-2">Popular Apartments</h6>
          </div>
            <table class="table table-borderless align-middle table-fixed table-mobile-responsive ">
              <thead class="align-middle bg-light">
              <tr class="main border-1" >
                <th >Apartment name</th>
                <th >Locations</th>
                <th >Amount</th>
                <th>Status</th>
              </tr>
              </thead>
              <tbody>
                <tr>
                 <td>
                  <div>
                      <img src="./assets/images/Avatar2.png" alt="">
                      <span class="fw-bold ms-2">Willow Creek Apartments</span>
                  </div>
                 </td>
                 <td>Alt-Moabit</td>
                 <td>€25,00/mo</td>
                 <td>
                  <span class="rounded-5 px-3 badge rented">
                    Rented
                </span>
                 </td>


                </tr>
                <tr>
                  <td>
                   <div>
                       <img src="./assets/images/Avatar2.png" alt="">
                       <span class="fw-bold ms-2">Willow Creek Apartments</span>
                   </div>
                  </td>
                  <td>Alt-Moabit</td>
                  <td>€25,00/mo</td>
                  <td>
                   <span class="rounded-5 px-3 badge rented">
                     Rented
                 </span>
                  </td>


                 </tr>
                 <tr>
                  <td>
                   <div>
                       <img src="./assets/images/Avatar2.png" alt="">
                       <span class="fw-bold ms-2">Willow Creek Apartments</span>
                   </div>
                  </td>
                  <td>Alt-Moabit</td>
                  <td>€25,00/mo</td>
                  <td>
                   <span class="rounded-5 px-3 badge rented">
                     Rented
                 </span>
                  </td>


                 </tr>
                 <tr>
                  <td>
                   <div>
                       <img src="./assets/images/Avatar2.png" alt="">
                       <span class="fw-bold ms-2">Willow Creek Apartments</span>
                   </div>
                  </td>
                  <td>Alt-Moabit</td>
                  <td>€25,00/mo</td>
                  <td>
                   <span class="rounded-5 px-3 badge rented">
                     Rented
                 </span>
                  </td>


                 </tr>

              </tbody>
            </table>
          </div>
      </div>
      <!-- end recent activities diagram  -->

      <!-- start Apartments Rented & Free diagram -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="row g-3 mt-1">
          <div class="col-12">
            <div class="total-detals">
              <div class="d-flex align-items-center py-1">
                  <img src="./assets/images/apartment.svg" alt="">
                  <span class="mx-3 fw-bold">Total Apartments</span>
              </div>
              <div>
                  <h3 class="my-2">{{DashCards.total_Apartments}}</h3>

              </div>
          </div>
          </div>
          <div class="col-12">
            <div class="total-detals">
              <div class="d-flex align-items-center py-1">
                  <img src="./assets/images/users.svg" alt="">
                  <span class="mx-3 fw-bold">Total Tenants</span>
              </div>
              <div>
                  <h3 class="my-2">{{DashCards.total_Tenants}}</h3>

              </div>
          </div>
          </div>
          <div class="col-12">
            <div class="total-detals">
              <div class="d-flex align-items-center py-1">
                <img src="./assets/images/users.svg" alt="">
                  <span class="mx-3 fw-bold">Total Owners</span>
              </div>
              <div>
                  <h3 class="my-2">80</h3>

              </div>
          </div>
          </div>


          </div>
      </div>
      <!-- end Apartments Rented & Free diagram -->

    </div>
    <!-- end part 3 in page  -->
  </main>
  <!-- end content page  -->
</div>
