<!-- start header -->
<header>
  <app-head (newItemEvent)="addItem($event)" [titleModule]="'Dashboard'"></app-head>
</header>
<!-- end header -->
<div class="row m-0">
  <!-- start sidebar  -->
  <app-sidebar class="col-lg-2" [showSide]="showSide" [titlepage]="'dashboard'"></app-sidebar>
  <!-- end sidebar  -->
  <!-- start content page  -->


  <main class=" p-4 col-lg-10">
    <!-- start part 1 in page  -->
    <div class="d-md-flex justify-content-between align-items-center dashboard" style="margin-top: 2px; margin-bottom: 3px;">
      <p class="fw-bold" style="color: #6c6a6a;">Dashboard</p>
      <!-- <div class="d-flex justify-content-lg-between ">
        <div class="d-flex justify-content-between ">
          <button class="month rounded-start px-3 py-1 outline-none">This Month</button>
          <button class="week rounded-end px-3 py-1 outline-none">Last Week</button>
        </div>
        <app-dropdown class="ms-3" [list]="listDropDown" (selected)="selectedfromDropDown($event)"></app-dropdown>
      </div> -->
    </div>
    <!-- end part 1 in page  -->
    <p-toast></p-toast>
    <!-- start part 2 in page  -->
    <div class="row g-4">
      <!-- start total details cards -->

      <div class="col-12 col-md-6 col-lg-4">
        <div class="total-detals">
          <div class="d-flex align-items-center">
              <span class="icon">€</span>
              <span class="mx-3 fw-bold">Total Revenue</span>
          </div>
          <div>
              <h3 class="my-2">{{DashCards.total_Revenue ?? 0}}</h3>
              <div>
                  <i class="fa fa-arrow-down red" *ngIf="DashCards.revenue_Up==false" aria-hidden="true"></i>
                  <i class="fa fa-arrow-up green" *ngIf="DashCards.revenue_Up==true" aria-hidden="true"></i>
                  <span class="ms-1 fw-bold" [class.red]="DashCards.revenue_Up==false" [class.green]="DashCards.revenue_Up==true"
                  >{{DashCards.revenue_Perc}} %</span>
                  <span class="mx-3">vs last month</span>
              </div>
          </div>
      </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="total-detals">
          <div class="d-flex align-items-center">
            <span class="icon">€</span>
              <span class="mx-3 fw-bold">Total expenses</span>
          </div>
          <div>
              <h3 class="my-2">{{DashCards.total_Expenses ?? 0}}</h3>
              <div>
                  <i class="fa fa-arrow-down red" *ngIf="DashCards.expenses_Up==false" aria-hidden="true"></i>
                  <i class="fa fa-arrow-up green" *ngIf="DashCards.expenses_Up==true" aria-hidden="true"></i>
                  <span class="ms-1 fw-bold" [class.red]="DashCards.expenses_Up==false" [class.green]="DashCards.expenses_Up==true"
                  >{{DashCards.expenses_Perc}} %</span>
                  <span class="mx-3">vs last month</span>
              </div>
          </div>
      </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="total-detals">
          <div class="d-flex align-items-center">
            <span class="icon">€</span>
              <span class="mx-3 fw-bold">Net profit
               </span>
          </div>
          <div>
              <h3 class="my-2">{{DashCards.net_Profit ?? 0}}</h3>
              <div>
                <div>
                    <i class="fa fa-arrow-down red" *ngIf="DashCards.net_Profit_Up==false" aria-hidden="true"></i>
                    <i class="fa fa-arrow-up green" *ngIf="DashCards.net_Profit_Up==true" aria-hidden="true"></i>
                    <span class="ms-1 fw-bold" [class.red]="DashCards.net_Profit_Up==false" [class.green]="DashCards.net_Profit_Up==true"
                    >{{DashCards.net_Profit_Perc}} %</span>
                    <span class="mx-3">vs last month</span>
                </div>
            </div>
          </div>
      </div>
      </div>
      <!-- end total details cards -->
    </div>
    <!-- end part 2 in page  -->
    <!-- start part 3 in page  -->
    <div class="row g-4 marginTop">
      <!-- start recent activities diagram  -->
      <div class="col-12 col-md-6 col-lg-8 my-2">
        <div class="card my-0">
          <div class="p-3 pb-3 d-flex justify-content-between align-items-center border-1">
            <h6  class="title pt-2">Recent activities</h6>
            <button class="btn btn-color" routerLink="/dashboard/veiwAll">View All</button>
          </div>
            <table class="table table-borderless align-middle table-fixed table-mobile-responsive ">
              <thead class="align-middle bg-light">
              <tr class="main border-1" >
                <th >user</th>
                <th >activity</th>
                <th >apartment</th>
                <th>action</th>
              </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of RecentActivitiesarr.slice(0,4); let i =index " (click)="navigateToRoute(item?.action_Route, item?.action_ID)" style="cursor: pointer;">
                 <td>
                  <div>
                      <img *ngIf="item?.userImg" src="{{item?.userImg}}" alt="" style="width:50px ;height: 50px;" class="rounded-circle me-2">
                      <img *ngIf="!item?.userImg" src="../../../assets/images/Frame 1261154899.svg" style="height: 50px;width: 50px;border-radius: 50%;margin-right: 9px;cursor: pointer;">
                      <span class="fw-bold">{{item?.userName}}</span>
                  </div>
                 </td>
                 <td>{{item?.act_Type}}</td>
                 <td>{{item?.act_Desc}}</td>
                 <td>
                  <button class="btn btn-color" (click)="navigateToRoute(item?.action_Route, item?.action_ID)">View</button>
                 </td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
      <!-- end recent activities diagram  -->

      <!-- start Apartments Rented & Free diagram -->
      <div class="col-12 col-md-6 col-lg-4 my-2">
        <div class="card py-3 my-0">
          <h5 class="fw-semibold px-3">Rented & Free</h5>
          <div class="text-center buttons">
            <button class="active">All</button>
            <button>Apartments</button>
            <button>Rooms</button>
            <button>Beds</button>
          </div>
          <div class="d-flex justify-content-center align-items-center pt-4">
            <div class="flex justify-content-center py-3  position-relative" style=" box-shadow: none;">
              <p-chart type="doughnut" [data]="dataChart" [options]="options"></p-chart>
              <div class="position-absolute translate-middle top-50 start-50">
                <h5 class="mt-5">All</h5>
              </div>
             </div>
           </div>
        </div>


         </div>
      <!-- end Apartments Rented & Free diagram -->
    </div>

    <div class="row g-4 marginTop">
      <!-- start recent activities diagram  -->
      <div class="col-12 col-md-6 col-lg-8 my-2">
        <div class="card my-0">
          <div class="p-3 pb-3 d-flex justify-content-between align-items-center border-1">
            <h6  class="title pt-2">Popular Apartments</h6>
          </div>
            <table class="table table-borderless align-middle table-fixed table-mobile-responsive ">
              <thead class="align-middle bg-light">
              <tr class="main border-1" >
                <th >Apartment name</th>
                <th >Locations</th>
                <th>Ownar</th>
                <th >Amount</th>
                <th>Status</th>
              </tr>
              </thead>
              <tbody>
                <tr *ngFor=" let apt of PopularAptarr.slice(0,4); let i =index" routerLink="/apartments/apartments-details/{{apt.apt_ID}}" style="cursor: pointer;">
                 <td>
                  <div>
                    <img *ngIf="apt?.apt_Img" src="{{apt?.apt_Img}}" alt="" style="width:50px ;height: 50px;" class="rounded-circle me-2">
                    <img *ngIf="!apt?.apt_Img" src="../../../assets/images/Frame 1261154899.svg" style="height: 50px;width: 50px;border-radius: 50%;margin-right: 9px;cursor: pointer;">
                    <span class="fw-bold">{{apt?.apt_Name}}</span>
                </div>
                 </td>
                 <td>{{apt?.apt_Location}}</td>
                 <td>{{apt?.owner}}</td>
                 <td>€ {{apt?.apt_Price}}</td>
                 <td>
                  <span *ngIf="apt?.status == 'Rented'" class="rounded-5 px-3 badge rented">
                    {{apt?.status}}
                </span>
                <span *ngIf="apt?.status == 'Pending'" class="rounded-5 px-3 badge Pending">
                  {{apt?.status}}
              </span>
                 </td>


                </tr>

              </tbody>
            </table>
          </div>
      </div>
      <!-- end recent activities diagram  -->

      <!-- start Apartments Rented & Free diagram -->
      <div class="col-12 col-md-6 col-lg-4 my-2">
        <div class="row g-3">
          <div class="col-12">
            <div class="total-detals">
              <div class="d-flex align-items-center py-1">
                  <img src="./assets/images/apartment.svg" alt="">
                  <span class="mx-3 fw-bold">Total Apartments</span>
              </div>
              <div>
                  <h3 class="my-2">{{DashCards.total_Apartments ?? 0}}</h3>

              </div>
          </div>
          </div>
          <div class="col-12">
            <div class="total-detals">
              <div class="d-flex align-items-center py-1">
                  <img src="./assets/images/users.svg" alt="">
                  <span class="mx-3 fw-bold">Total Tenants</span>
              </div>
              <div>
                  <h3 class="my-2">{{DashCards.total_Tenants ?? 0}}</h3>

              </div>
          </div>
          </div>
          <div class="col-12">
            <div class="total-detals">
              <div class="d-flex align-items-center py-1">
                <img src="./assets/images/users.svg" alt="">
                  <span class="mx-3 fw-bold">Total Owners</span>
              </div>
              <div>
                  <h3 class="my-2">{{DashCards.total_Owners ?? 0}}</h3>

              </div>
          </div>
          </div>
          </div>
      </div>
      <!-- end Apartments Rented & Free diagram -->

    </div>
    <!-- end part 3 in page  -->
  </main>
  <!-- end content page  -->
</div>
