@media (min-width: 776px) {
    .modal-dialog {
        max-width: 800px;
        margin-right: auto;
        margin-left: auto;
    }
    .xcvddmodel {
        margin-right: 535px !important;
    }
}

.file {
    z-index: 3 !important;
    opacity: 0;
    cursor: pointer;
}

.h-124px {
    height: 124px !important;
}

.w-145px {
    width: 145px;
}

@media (min-width: 768px) {
    .marmodify {
        margin-left: 486px;
    }
}

td {
  font-size: 14px !important;
  padding: 16px 24px !important;
  font-family: 'Poppins';
  height: 72px;
  border-bottom: 1px solid #F6F6F6 !important;

}
th {
    font-size: 14px !important;
    font-family: 'Poppins';
    border-bottom: 1px solid #F6F6F6 !important;
    background: #F6F6F6 !important  ;
}
tr{
  .Actions{
    width: 150px;
    z-index: 999;
    right: 35px;
    top: 50px;
  }
}
tr:nth-last-child(2){
  .Actions{
    width: 150px;
    z-index: 999;
    right: 35px;
    top: 0px;
  }
}
tr:last-child{
  .Actions{
    width: 150px;
    z-index: 999;
    right: 35px;
    top: -50px;
  }
}

