

.p-rating .pi-star,
.p-rating .pi-star-o {
    color: yellow;
}


.description-text p {
  font-size: 1rem;
  color: #333;
  line-height: 1.6;
  margin-bottom: 1rem;
}

.container .requestd{
  max-width: 600px;
  margin: auto;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}




.bookingdetails{
  background-color: rgb(244, 243, 243);
  box-shadow: none;
  border: solid 0.1px rgb(227, 225, 225) ;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;

  padding: 15px;
  padding-top: 5px !important;
}
.bginfo{
  background-color: rgb(244, 243, 243);
}

.no-shadow {
  box-shadow: none !important;
}

.passport {
  display: grid;
  grid-template-columns: 1fr 1fr;
  cursor: pointer;
}
.imgpass{
  height: 190px !important;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.paddingpass{
  padding-left: 30px !important;
}
.texttable{
  font-size: 10px !important;
  background-color: rgb(244, 243, 243);
}
.custom-btn-outline-primary {
  color: #094c93;
  border: 1px solid #094c93;
  border-radius: 20px;
  padding: 0.375rem 1.25rem;
  background-color: transparent;
  font-size: 0.875rem;
  text-transform: capitalize;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.custom-btn-outline-primary:hover {
  background-color: #094c93;
  color: #ffffff;
}









.blue {
    color: #1f4068;
}

.file {
    z-index: 3 !important;
    opacity: 0;
    cursor: pointer;
}

.h-124px {
    height: 124px !important;
}

* {
    font-family: 'Poppins'
}

.imgPreviewUploader {
    max-width: 44%;
}

.uploadedContractBorder {
    border: 1px solid #235a9e;
}

.backcancel {
    border: 1px solid#798CA4 !important;
    color: #0C1A2A !important;
}

.file {
    z-index: 3 !important;
    opacity: 0;
    cursor: pointer;
}

.h-124px {
    height: 124px !important;
}

.cursor {
    cursor: pointer;
}

.maxImg {
    max-width: 178px !important;
    max-height: 134px !important;
}

.testimonial-group>.row {
    overflow-x: auto;
    white-space: nowrap;
}

.testimonial-group>.row>.col-md-4 {
    display: inline-block;
    float: none;
}

.vcrr {
    display: block;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner .8s linear infinite;
}
