
.selected-thumbnail {
  border: 3px solid #007bff;
}

/* :host ::ng-deep .p-accordion .p-accordion-content .bed {
  background: none !important;
} */
/* :host ::ng-deep #bed .p-accordion-content {
  background: none !important;
} */

/* .gapp {
  display: flex;
  gap: 500px;
}

@media (max-width: 1600px) {
  .gapp {
    gap: 350px;
  }
}



@media (max-width: 1200px) {
  .gapp {
    gap: 250px;
  }
}



@media (max-width: 992px) {
  .gapp {
    gap: 150px;
  }
}


@media (max-width: 768px) {
  .gapp {
    gap: 80px;
  }
}


@media (max-width: 576px) {
  .gapp {
    gap: 100px;
  }
} */

.bgcolor{
  background-color: rgb(162, 239, 162);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

:host ::ng-deep #bed > .p-accordion .p-accordion-content {
  background-color: #f4f3f3 !important;
}

:host ::ng-deep #bed .p-accordion .p-accordion .p-accordion-content {
  background: #fff !important;
}


.booking-process-container {
  background-color: #f4f3f3 !important;
  padding: 1rem;
  border-radius: 0.25rem;
   margin: 0;
}

.booking-process-header {
  font-size: 1.25rem;
  font-weight: 600;
  color: #333;
  margin: 0;
}

.booking-process-subtext {
  font-size: 1rem;
  font-weight: 400;
  color: #6c757d;
  margin: 0;
}



.p-rating .pi-star,
.p-rating .pi-star-o {
    color: yellow;
}


.description-text p {
  font-size: 1rem;
  color: #333;
  line-height: 1.6;
  margin-bottom: 1rem;
}

.container .requestd{
  max-width: 600px;
  margin: auto;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.card{
  box-shadow: none;
  border:1px solid #e0e0e0;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: all 0.3s ease;

}



.bookingdetails{
  background-color: rgb(244, 243, 243);
  box-shadow: none;
  border: solid 0.1px rgb(227, 225, 225) ;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;

  padding: 15px;
  padding-top: 5px !important;
}
.bginfo{
  background-color: rgb(244, 243, 243);
}

.no-shadow {
  box-shadow: none !important;
}

.passport {
  display: grid;
  grid-template-columns: 1fr 1fr;
  cursor: pointer;
}
.imgpass{
  height: 190px !important;

  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.paddingpass{
  padding-left: 30px !important;
}
.texttable{
  font-size: 10px !important;
  background-color: rgb(244, 243, 243);
}
.custom-btn-outline-primary {
  color: #1F4068;
  border: 1px solid #1F4068;
  border-radius: 10px;
  padding: 0.375rem 1.25rem;
  background-color: transparent;
  font-size: 0.875rem;
  text-transform: capitalize;
  transition: background-color 0.3s ease, color 0.3s ease;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.custom-btn-outline-primary:hover {
  background-color: #1F4068;
  color: #ffffff;
}









.blue {
    color: #1f4068;
}

.file {
    z-index: 3 !important;
    opacity: 0;
    cursor: pointer;
}

.h-124px {
    height: 124px !important;
}

* {
    font-family: 'Poppins'
}

.imgPreviewUploader {
    max-width: 44%;
}

.uploadedContractBorder {
    border: 1px solid #235a9e;
}

.backcancel {
    border: 1px solid#798CA4 !important;
    color: #0C1A2A !important;
}

.file {
    z-index: 3 !important;
    opacity: 0;
    cursor: pointer;
}

.h-124px {
    height: 124px !important;
}

.cursor {
    cursor: pointer;
}

.maxImg {
    max-width: 178px !important;
    max-height: 134px !important;
}

.testimonial-group>.row {
    overflow-x: auto;
    white-space: nowrap;
}

.testimonial-group>.row>.col-md-4 {
    display: inline-block;
    float: none;
}

.vcrr {
    display: block;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner .8s linear infinite;
}
.badge{
  font-size: 13px ;
  padding: 4px 8px;
  font-weight: 500;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.rented {
  color: #1F4068;
  background-color: #DAEBFF80;
}
.approve {
  color: #027A48;
  background-color: #ECFDF3;
}
.unpaid {
  color: #EF2011;
  background-color: #FCEEEE;
}
.reject {
  color: #EF2011;
  background-color: #FCEEEE;
}
.pending{
  color: #61980f;
  background-color: #eef391;
}
  ::ng-deep .p-accordion-toggle-icon {
    position: absolute;
    right: 5px;
    margin-top: -5px;  }
    .img-fluid
    {
      margin-right:15px;
    }

    ::ng-deep .p-accordion-header-link {
            box-shadow: none !important;
          }
