.month,
.week {
    color: #757a82;
    background-color: white;
    border: 1px solid #ebebeb;
}

@media (min-width: 768px) {
    .xcvdd {
        margin-right: 257px !important;
    }
}

.buttomstyle {
    color: var(--Primary-40, #1F4068);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.apartmentList {
    color: #787579;
    &:hover {
        border-bottom: 2px solid #1f4068 !important;
        font-weight: 600;
        color: #1f4068 !important;
    }
}

.paroductApartment {
    .details {
        border: 1px solid #dfdfdf;
        max-height: 220px;
    }
    .apartmentImage {
        border-radius: 8px 8px 0px 0px;
        max-height: 184px;
    }
    .Price {
        color: #1F4068;
        font-weight: 600;
        font-size: 24px;
        line-height: 33.6px;
        .time {
            font-size: 16px;
            line-height: 16px;
            position: relative;
            top: -2px;
        }
    }
}

.pointer {
    cursor: pointer;
}

.clickApartmentList {
    color: #1f4068 !important;
    font-weight: 600;
    border-bottom: 2px solid #1f4068 !important;
}

.none {
    @media (max-width: 992px) {
        display: none;
    }
}

.p-fileupload-buttonbar .p-button {
    margin-bottom: 10px !important;
}

.cvxs {
    text-align: center;
    color: #1019c6 !important;
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 500;
    line-height: 20px;
    word-wrap: break-word;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    overflow: hidden;
    border: 1px #8FA0B4 solid;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    display: flex;
}

@media (min-width: 768px) {
    .cvvvvvvv {
        margin-right: -898px;
    }
}

td {
  font-size: 14px !important;
  padding: 16px 24px !important;
  font-family: 'Poppins';
  height: 72px;
  border-bottom: 1px solid #F6F6F6 !important;

}
th {
    font-size: 14px !important;
    font-family: 'Poppins';
    border-bottom: 1px solid #F6F6F6 !important;
    background: #F6F6F6 !important  ;
}

.spanready{
    padding: 4px;
    background-color: #F0F9FF ;
    display: flex;
    justify-content: center;
    gap: 7px;
    border-radius: 31px;
}

.btn.btn-color{
  color: #1F4068 !important;
  border-radius: 8px;
  font-weight: 500;
  background-color: #fff !important;
  border: 1px solid  #EBEBEB;
}
