.cursor {
    cursor: pointer
}

.blue {
    color: #1F4068
}

.img-size {
    width: 55px;
    height: 55px;
}

.bvngd {
    font-family: 'Poppins'
}

.edit-button {
    top: 31px;
    right: 88px;
    padding: 5px 10px;
    z-index: 2;
    width: 150px;
}

.active,
.scheduled {
    /* color: #027A48;*/
    background-color: rgba(31, 64, 104, 0.5);
}

.offline,
.good {
    color: #FFB900;
    background-color: #FFF9E6;
}

.Deactivated,
.bad {
    color: #EF2011;
    background-color: #FCEEEE;
}

.average,
.completed {
    color: #DB00FF;
    background-color: #FCEAFF
}

.InProgress {
    color: #1F4068;
    background-color: #D2D9E1;
}

.button:hover {
    background-color: #f1f1f1 !important;
}

.z-3 {
    z-index: 3;
}

.ui-confirm-dialog .ui-dialog-content {
    background-color: red;
}

td {
  font-size: 14px !important;
  padding: 16px 24px !important;
  font-family: 'Poppins';
  height: 72px;
  border-bottom: 1px solid #F6F6F6 !important;

}

th {
    font-size: 14px !important;
    font-family: 'Poppins';
    font-weight: 500 !important;
    border-bottom: 1px solid #F6F6F6 !important;
    background: #F6F6F6 !important  ;
}
tr{
  padding-right: 24px !important;
  padding-left: 24px !important;
.Actions{
  width: 150px;
  z-index: 999;
  right: 35px;
  top: 50px;
}
}
tr:nth-last-child(2){
  .Actions{
    top: -10px;
  }
  }
tr:nth-last-child(2){
.Actions{
  top: -45px;
}
}
tr:last-child{
.Actions{
  top: -120px;
}
}

.input{
  position: relative;
  img{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
}
::placeholder{
  font-size: 13px !important;
}
