<!-- start header  -->
<header>
    <app-head (newItemEvent)="addItem($event)" [titleModule]="'Apartments'"></app-head>
</header>
<!-- end header  -->

<div class="row m-0">
    <!-- start sidebar  -->
    <app-sidebar class="col-lg-2" [showSide]="showSide" [titlepage]="'apartments'"></app-sidebar>
    <!-- end sidebar  -->
    <!-- start content page  -->
    <main class="p-4 col-lg-10">
        <!-- start part 1 in page  -->
        <div class="fw-bold d-flex justify-content-between" style="color: #6c6a6a">
            <a href="javascript:void(0)" routerLink="/apartments" class="removeUnderLine">
                <p class="fw-bold ml-8">Apartments</p>
            </a>
            <app-add-new-button *ngIf="ApartmentsRole?.p_Add==true  || is_Super==true" [id]="'apartments/page/add-new-apartments'" class="mx-1"></app-add-new-button>
        </div>
        <p-toast></p-toast>

        <!-- end part 1 in page  -->


        <div class="bg-white border rounded-3 mt-3 p-3 p-4">
          <div class="row">
            <div class="col-12 col-md-7">

              <ng-container>
                <div class="container testimonial-group">
                  <div class="row mb-3 vcrr"  >
                    <div class="image-gallery" style="max-width: 1500px;">
                      <div class="main-image">
                        <img [src]="aprt_details?.apt_ThumbImg.includes('https') ? aprt_details?.apt_ThumbImg : '../../../assets/images/apartmentImages/default_apartment.jpg'" style="width: 100%; height:500px; border-radius:13px" />
                      </div>
                      <div class="thumbnail-container" style="display: flex; justify-content: space-evenly;gap:20px; margin-top: 20px;">
                        <div *ngFor="let img of aprt_details?.property_Imgs" style="cursor: pointer;">
                          <img [src]="img?.apt_imgs && img?.apt_imgs.includes('https') ? img?.apt_imgs : '../../../assets/images/apartmentImages/default_apartment.jpg'" style="height: 120px; width: 360px; border-radius:13px;" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
              <div class="d-flex align-items-center mb-2">
                <p class="fw-1000 mt-3 mr-3 mb-3 fs-6 fw-semibold">Rating ({{ rating_count }})</p>
                <div class="ms-2">
                  <p-rating [(ngModel)]="rating_total" [readonly]="true" [cancel]="false"></p-rating>
                </div>
              </div>
              <div>
                <p class="fw-1000 mr-3 mb-3 fs-6 fw-semibold">Descriptions</p>
                <div class="description-text">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mus mauris ultricies nullam cras ut orci. Facilisi duis dis auctor ut massa nunc aliquet ultricies senectus. Eu et posuere commodo, sodales.</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mus mauris ultricies nullam cras ut orci. Facilisi duis dis auctor ut massa nunc aliquet ultricies senectus. Eu et posuere commodo, sodales.</p>

                </div>
              </div>
            </div>



            <div class="col-12 col-md-5">





              <div class="custom-apartment-details bg-white border rounded-3 p-3">

                <h3 class="custom-apartment-title">Salt Lake City, Apartment Salt Lake City, Apartment</h3>
                <p class="custom-apartment-type">Rentals · Apartment / Condo</p>
                <h4 class="custom-apartment-price">€25,00 <span>/ month</span></h4>
                <div class="custom-apartment-info d-flex mb-0">
                  <div class="custom-info-item d-flex align-items-center me-4">
                    <img src="assets/images/apartmentImages/location.svg" alt="Location">
                    <p>Alt-Moabit, Alt-Moabit</p>
                  </div>
                  <div class="custom-info-item d-flex align-items-center me-4">
                    <img src="assets/images/apartmentImages/room_bed.svg" alt="Bedrooms">
                    <p>3</p>
                  </div>
                  <div class="custom-info-item d-flex align-items-center">
                    <img src="assets/images/apartmentImages/user.svg" alt="Guests">
                    <p>Living: 2 persons</p>
                  </div>
                </div>
                <div class="custom-info-item">
                  <img src="assets/images/apartmentImages/schedule time.svg" alt="Duration">
                  <p>Duration: 27/04/2023 - 28/04/2023</p>
                </div>
                <div class="custom-info-item">
                  <img src="assets/images/apartmentImages/schedule time.svg" alt="Published">
                  <p>Published: 27/04/2023 - 04:14 PM</p>
                </div>
                <div class="custom-apartment-actions d-flex justify-content-between mb-5">
                  <button class="custom-btn custom-btn-edit w-75">
                    <img src="assets/images/apartmentImages/edit.svg" alt="Edit" class="custom-btn-icon">Edit
                  </button>
                  <button class="custom-btn custom-btn-share w-25">
                    <img src="assets/images/apartmentImages/share.svg" alt="Share" class="custom-btn-icon">Share
                  </button>
                </div>


                <p-accordion class="mt-3">
                  <p-accordionTab header="Public transport" [headerStyle]="{'background-color': '#fff' }" >
                    <!-- <ng-template pTemplate="header">

                      <span>Public transport</span>
                      <i class="pi pi-bus"></i>
                    </ng-template> -->
                    <div class="custom-transport-info">
                      <div class="custom-transport-item">
                        <p class="custom-transport-distance">Transport within 270 m</p>
                        <div class="custom-transport-box">1 bus</div>
                      </div>
                      <div class="custom-transport-item">
                        <p class="custom-transport-distance">Transport within 520 m</p>
                        <div class="custom-transport-box">Tram 2</div>
                      </div>
                    </div>



                  </p-accordionTab>
                  <p-accordionTab header="Other detail" [headerStyle]="{'background-color': '#fff' }" >
                    <div class="custom-property-info">
                      <div class="custom-property-item">
                        <p class="custom-property-label">Property square feet</p>
                        <div class="custom-property-box">2356 sq ft</div>
                      </div>
                      <div class="custom-property-item">
                        <p class="custom-property-label">Laundry type</p>
                        <div class="custom-property-box">Laundry in building</div>
                      </div>
                      <div class="custom-property-item">
                        <p class="custom-property-label">Date available</p>
                        <div class="custom-property-box">Jun 2, 2023 - July 2, 2023</div>
                      </div>
                      <div class="custom-property-item">
                        <p class="custom-property-label">Parking type</p>
                        <div class="custom-property-box">Garage parking</div>
                      </div>
                      <div class="custom-property-item">
                        <p class="custom-property-label">Air conditioning type</p>
                        <div class="custom-property-box">Central AC</div>
                      </div>
                      <div class="custom-property-item">
                        <p class="custom-property-label">Heating type</p>
                        <div class="custom-property-box">Central heating</div>
                      </div>
                    </div>

                  </p-accordionTab>
                  <p-accordionTab header="Passport of tenant" [headerStyle]="{'background-color': '#fff' }" >
                    <div class="custom-image-gallery">
                      <div class="custom-thumbnail">
                        <img src="https://via.placeholder.com/120" alt="Image 1">
                      </div>
                      <div class="custom-thumbnail">
                        <img src="https://via.placeholder.com/120" alt="Image 2">
                      </div>
                      <div class="custom-thumbnail">
                        <img src="https://via.placeholder.com/120" alt="Image 3">
                      </div>
                      <div class="custom-thumbnail">
                        <img src="https://via.placeholder.com/120" alt="Image 4">
                      </div>
                    </div>
                  </p-accordionTab>
                  <p-accordionTab header="Problem reports (2)" [headerStyle]="{'background-color': '#fff' }" >
                    <p>Content for Problem reports</p>
                  </p-accordionTab>
                  <p-accordionTab header="Fixed problem (0)" [headerStyle]="{'background-color': '#fff' }" >
                    <p>Content for Fixed problem</p>
                  </p-accordionTab>
                </p-accordion>

                <div class="custom-apartment-buttons mt-5">
                  <button class="custom-btn-rented">Mark as rented</button>
                  <button class="custom-btn-delete">

                    <img src="assets/images/delete3.svg">Delete
                  </button>
                </div>

              </div>


            </div>
          </div>

        </div>



        <!-- <div class="rating py-4">
            <div style="margin-top:10px" class="heading">
                <h5>Tenant Rating </h5>
                <p style="margin-bottom: 18px;">view tenant ratings </p>
            </div>
            <div class="row g-4">
                <div class="col-lg-4 col-md-6" *ngFor="let review of AllReviews">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Review</h5>
                            <div class="userData d-flex align-items-center my-2">
                                <div class="userImage">
                                    <img *ngIf="review.userPhoto" src="{{ review.userPhoto }}" alt=""
                                        style="height: 50px;width: 50px;border-radius: 50%;margin-right: 9px;cursor: pointer;">
                                    <img *ngIf="!review.userPhoto" src="../../../assets/images/Frame 1261154899.svg" alt=""
                                        style="height: 50px;width: 50px;border-radius: 50%;margin-right: 9px;cursor: pointer;">
                                </div>
                                <div class="userInfo ms-3">
                                    <h5 class="py-0 my-0">{{ review.userName }}</h5>
                                    <p class="py-0 my-0">{{ review?.reviewed_at }}</p>
                                </div>
                            </div>
                            <ul class="px-0 my-2">
                                <li class="list-group-item d-flex justify-content-between align-items-center py-3">
                                    <span>Apartment / Studio</span>
                                    <div class="rate d-flex align-items-center">
                                        <img src="../../../../assets/images/star.svg" alt="" class="mb-1">
                                        <span class="ms-1">({{ review.rate_Apartment }})</span>
                                    </div>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center mb-3">
                                    <span>Safety</span>
                                    <div class="rate d-flex align-items-center">
                                        <img src="../../../../assets/images/star.svg" alt="" class="mb-1">
                                        <span class="ms-1">({{ review.rate_Safety }})</span>
                                    </div>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center mb-3">
                                    <span>Location</span>
                                    <div class="rate d-flex align-items-center">
                                        <img src="../../../../assets/images/star.svg" alt="" class="mb-1">
                                        <span class="ms-1">({{ review.rate_Location }})</span>
                                    </div>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center mb-3">
                                    <span>Our Service</span>
                                    <div class="rate d-flex align-items-center">
                                        <img src="../../../../assets/images/star.svg" alt="" class="mb-1">
                                        <span class="ms-1">({{ review.rate_Service }})</span>
                                    </div>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center mb-3">
                                    <span>Cleanliness</span>
                                    <div class="rate d-flex align-items-center">
                                        <img src="../../../../assets/images/star.svg" alt="" class="mb-1">
                                        <span class="ms-1">({{ review.rate_Cleanliness }})</span>
                                    </div>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center mb-3">
                                    <span>Communication</span>
                                    <div class="rate d-flex align-items-center">
                                        <img src="../../../../assets/images/star.svg" alt="" class="mb-1">
                                        <span class="ms-1">({{ review.rate_Communication }})</span>
                                    </div>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center mb-3">
                                    <span>Total Rating</span>
                                    <div class="rate d-flex align-items-center">
                                        <img src="../../../../assets/images/star.svg" alt="" class="mb-1">
                                        <span class="ms-1">(4.0)</span>
                                    </div>
                                </li>
                            </ul>
                            <div class="comment">
                                <h5 class="mb-1">Additional comment (optional):</h5>
                                <p>{{ review.review_Comment }}</p>
                            </div>
                            <div class="d-flex justify-content-between">
                                <button class="btn btn-outline" [disabled]="!review.show_OnApp"
                                    (click)="ApproveReview(review.rate_ID,false)">Hide From App</button>
                                <button class="btn btn-color" [disabled]="review.show_OnApp"
                                    (click)="ApproveReview(review.rate_ID,true)">Display On App</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div> -->
    </main>
    <!-- end content page  -->
</div>
<!-- <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display22}" style="background-color: rgba(90,90,90,0.5);">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document" style="width:900px;">
        <div class="modal-content position-relative">
            <div class="modal-header p-0 m-0 d-flex justify-content-start">
                <button type="button" class="close" aria-label="Close" (click)="oncloseModal()">
                    <img src="../../../../assets/images/ic_round-close.svg" alt="">
                </button>
            </div>
            <div class="modal-body p-0 m-0">
                <img [src]="imageSize" style="width:100%;height: 500px" />

            </div>




        </div>
    </div>
</div> -->
