.week {
  color: #605D62;
  border: 1px solid #ebebeb;
  background-color: #fff;
}
.activeButton{
  background-color: #1F4068;
  color: #fff
}


.buttomstyle {
    color: var(--Primary-40, #1F4068);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.apartmentList {
    color: #787579;
    &:hover {
        border-bottom: 2px solid #1f4068 !important;
        font-weight: 600;
        color: #1f4068 !important;
    }
}

.paroductApartment {
    .details {
        border: 1px solid #dfdfdf;
        max-height: 220px;
    }
    .apartmentImage {
        border-radius: 8px 8px 0px 0px;
        max-height: 184px;
    }
    .Price {
        color: #1F4068;
        font-weight: 600;
        font-size: 24px;
        line-height: 33.6px;
        .time {
            font-size: 16px;
            line-height: 16px;
            position: relative;
            top: -2px;
        }
    }
}

.pointer {
    cursor: pointer;
}

.rentedORavailable {
    background-color: rgb(255 255 255 / 70%);
    color: #1f4068 !important;
}

.rented {
    color: #1f4068 !important;
}

.available {
    color: #12b76a !important;
}

.clickApartmentList {
    color: #1f4068 !important;
    font-weight: 600;
    border-bottom: 2px solid #1f4068 !important;
}

.none {
    @media (max-width: 992px) {
        display: none;
    }
}

.p-fileupload-buttonbar .p-button {
    margin-bottom: 10px !important;
}

.cvxs {
    text-align: center;
    color: #1019c6 !important;
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 500;
    line-height: 20px;
    word-wrap: break-word;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    overflow: hidden;
    border: 1px #8FA0B4 solid;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    display: flex;
}

@media (min-width: 768px) {
    .cvvvvvvv {
        margin-right: -898px;
    }
}
.badge{
  font-size: 13px ;
  padding: 4px 8px;
  font-weight: 500;
}
.paid	 {
    color: #027A48;
    background-color: #ECFDF3;
}
.unPaid	 {
    color: #EF2011;
    background-color: #FCEEEE;
}
td {
  font-size: 14px !important;
  padding: 16px 24px !important;
  font-family: 'Poppins';
  height: 72px;
  border-bottom: 1px solid #F6F6F6 !important;

}

th {
    font-size: 14px !important;
    font-family: 'Poppins';
    border-bottom: 1px solid #F6F6F6 !important;
    background: #F6F6F6 !important  ;
}
td span img.payment{
  width: 40px;
  height: 30px;
}

.total-detals {
  padding: 16px;
  border: 1px solid #EBEBEB;
  border-radius: 12px;
  margin-bottom: 10px;
  background-color: white;
  h3 {
      font-weight: 700;
  }
}

span.icon{
  color: #1F4068;
  font-size: 22.78px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}

.red{
  color:red
}
.green{
  color: green;
}
.filterControls{
  label{
    font-size: 14px;
    color: #6A6D70;
  }
}
.modal-header
{
  border-bottom: unset;
  background-color:#ffffff;
  border-bottom: none !important;
}
.modal-footer,.modal-body{
  border-top: unset;
}
.go .btn.btn-color{
  background-color: #1F4068;
  color: #fff;
  font-size: 14px;
}
.cleraFilter{
  .btn.btn-filter{
    color: #1F4068 !important;
    background-color: #fff !important;
    font-size: 14px;

  }
}
.btn.btn-outline{
  color: #1F4068 !important;
  background-color: #fff !important;
  border: 1px solid #1F4068;
  border-radius: 6px;
  font-size: 16px;
}

tr{
  .Actions{
    width: 150px;
    z-index: 999;
    right: 35px;
    top: 50px;
  }
}
tr:nth-last-child(2){
  .Actions{
    width: 150px;
    z-index: 999;
    right: 35px;
    top: -10px;
  }
}
tr:last-child{
  .Actions{
    width: 150px;
    z-index: 999;
    right: 35px;
    top: -80px;
  }
}
::ng-deep .p-calendar {
  height: 36px;
}
::ng-deep .p-button{
  background-color: #1F4068 !important;
  border: 1px solid #1F4068 !important;
}

.btn.btn-color{
  background-color: #1f4068;
  padding: 12px, 24px, 12px, 20px;
  border-radius: 6px;
  box-shadow: 0px 1px 0px 0px #0000000D;
  color: #fff;
  font-weight: 500;
  font-size: 15px;
}
.btn.btn-black{
  border: 1px solid #1f4068;
  padding: 12px, 24px, 12px, 20px;
  border-radius: 6px;
  font-weight: 500;
  background-color: #fff;
  color: #1f4068;
  font-size: 15px;

}
::ng-deep .form-check input[type="checkbox"]{
  opacity: 1 !important;
  position: absolute;
  visibility: unset;
}
::ng-deep .form-check .form-check-label{
  padding-left: 10px !important;
}

.form-switch .form-check-input{
  width: 2.5rem;
  height: 1.2rem;
}
.form-switch .form-check-input:focus {
  border-color: #1f4068 !important;
  box-shadow: 0 0 0 1px #1f4068 !important;

}
.form-check-input:checked{
  background-color: #1f4068 !important;
  border: 1px solid #1f4068 !important;
}

.p-dropdown-items-wrapper {
  max-height: 250px !important;
}
