<!-- <app-edite-user-details></app-edite-user-details> -->
<!-- start header  -->
<header>
  <app-head (newItemEvent)="addItem($event)" [titleModule]="'Blogs List'"></app-head>
</header>
<!-- end header  -->

<div class="row m-0">



  <!-- start sidebar  -->
  <app-sidebar class="col-lg-2" [showSide]="showSide" [titlepage]="'blogs'"></app-sidebar>
  <!-- end sidebar  -->

  <!-- start content page  -->
  <main class="p-4 col-lg-10 ">
      <div class="d-md-flex justify-content-between align-items-center" style="margin-top: 6px; margin-bottom: 24px;">
        <p-breadcrumb class="max-w-full" [model]="items">
          <ng-template pTemplate="item" let-item>
              <a [routerLink]="item.routerLink" class="p-menuitem-link" routerLinkActive="text-primary font-semibold">
                  <span *ngIf="item.icon" [ngClass]="item.icon" class="mr-2"></span>
                  <span>{{ item.label }}</span>
              </a>
          </ng-template>
        </p-breadcrumb>
          <div class="d-flex justify-content-lg-between ">
              <div class="d-flex justify-content-between ">
                  <!-- <button class="month rounded-start px-3 py-1 outline-none">This Month</button>
              <button class="week rounded-end px-3 py-1 outline-none">Last Week</button> -->
              </div>
              <!-- start dropdown button  -->
              <!-- <app-dropdown class="ms-3" [list]="listDropDown" style="margin-right: 24px;margin-top: 2px;" (selected)="selectedfromDropDown($event)"></app-dropdown> -->
              <!-- end dropdown button  -->
              <!-- start addUserButton  -->
              <!-- <app-add-new-button class="ms-3 mt-2" [id]="'app-user-details'"></app-add-new-button> -->
              <!-- end addUserButton  -->
              <a *ngIf="blogsRole?.p_Add==true || is_Super==true" class="px-3 py-2 rounded border text-white text-decoration-none" routerLink="/blogs/add-blog" style="background-color:#1F4068; cursor: pointer;">
                  <img src="assets/images/plus.svg" class="me-2 ">Add New
              </a>
          </div>
      </div>





 <div class="main-div" >



<div class="containerr">
  <div class="box"  *ngFor="let blog of blogs; let i = index" style="max-width: 360px;">
    <div style="cursor: pointer;" class="img" (click)="openMenu(i)">
      <img src="../../../../assets/images/blogs/threeDot.svg"/>
    </div>
    <div class="menu"  [ngStyle]="{ 'display': openMenuIndex === i ? 'block' : 'none' }">
      <div>
        <ul style="list-style: none; padding:0;">
          <li class="mb-3" style="cursor: pointer;"  (click)="viewBlogDetails(blog)">View Blog Details</li>
          <li  class="mb-3" style="cursor: pointer;" (click)="editBlog(blog)">Update Blog</li>
          <li style="cursor: pointer;" (click)="deleteBlogId(blog)">Delete Blog</li>

        </ul>
      </div>
    </div>
    <p-card >
      <ng-template pTemplate="header">
        <img  (click)="viewBlogDetails(blog)" alt="Card" [src]="blog.blog_Main_Image" [alt]="blog.blog_Image_Alt" style="height: 215px;" />
      </ng-template>

      <div (click)="viewBlogDetails(blog)" class="text">
        <div class="head">{{ blog.blog_Title }}</div>
        <div class="info">
          {{ blog.blog_Desc | slice:0:150 }}...
        </div>
        </div>
       <!-- <div class="foot">
        <p-chip
          label="Amy Elsner"
          image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
          alt="Avatar image" />

          <div class="date">{{ blog.blog_Created_at | date: 'shortDate' }}</div>
       </div> -->
       <ng-template pTemplate="footer">
        <div (click)="viewBlogDetails(blog)" class="foot">
          <p-chip
            label="Studiflats"
            image="https://cdn3.iconfinder.com/data/icons/office-485/100/ICON_BASIC-11-512.png"
            alt="Avatar image" />

            <div class="date">{{ blog.blog_Created_at | date: 'shortDate' }}</div>
         </div>
      </ng-template>



  </p-card>
  </div>
  <div *ngIf="loadingList" class="loading-overlay">
    <div class="spinner"></div>
    <p>Loading...</p>
  </div>
  <!-- <div class="box">
    <div class="img">
      <img src="../../../../assets/images/blogs/threeDot.svg"/>
    </div>
    <div class="menu" [ngStyle]="{'display': displayMenu}">
      <div>
        <ul style="list-style: none; padding:0;">
          <li class="mb-3" style="cursor: pointer;">View Blog Details</li>
          <li style="cursor: pointer;">Update Blog</li>
        </ul>
      </div>
    </div>
    <p-card >
      <ng-template pTemplate="header">
          <img alt="Card" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" />
      </ng-template>

      <div class="text">
        <div class="head">Plan for the Future</div>
        <div class="info">
          Think about your long-term plans when signing a lease. If you’re considering buying a home in the near future or relocating for work, look for a lease that offers flexibility, such as a month-to-month option. This way, you won’t be locked into a long-term commitment if your circumstances change.
      </div>
      <div class="foot">
        <p-chip
          label="Amy Elsner"
          image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
          alt="Avatar image" />

        <div class="date">30/6/2024</div>
       </div>
      </div>
  </p-card>
  </div> -->

</div>


<p-paginator
(onPageChange)="onPageChange($event)"
[first]="first"
[rows]="rows"
[totalRecords]="totalRecords"
[rowsPerPageOptions]="[10, 20, 30]">
</p-paginator>


</div>




  </main>
  <!-- end content page  -->
</div>











































