@import '../node_modules/primeng/resources/primeng.min.css';
@import '../node_modules/primeicons/primeicons.css';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "primeicons/primeicons.css";
@import "~@fortawesome/fontawesome-free/css/all.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: 'Poppins', sans-serif !important;
}
main {
    margin-top: 72px !important;
    background-color: #FAFCFF;
}

.p-datatable-wrapper {
    display: flex;
    // min-height: 35rem;
    min-height: fit-content;

    flex-direction: column;
}



@media print {
  body * {
    visibility: hidden;
  }

  #qrToPdf, #qrToPdf * {
    visibility: visible;
  }

  #qrToPdf {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    page-break-inside: avoid;
    page-break-before: avoid;
    page-break-after: avoid;
  }

  #qrToPdf img {
    max-width: 100%;
    height: auto;
  }
}









.p-datepicker {
  transform-origin: center bottom;
  /* top: -600% !important; */
  top:100% !important;
  left: 0% !important;

  z-index: 99999;
}

/* :host ::ng-deep .p-datepicker .p-datepicker-group-container {

} */
  .p-datepicker .p-datepicker-group-container table span {
 padding: 0 !important;
 width: 20px !important ;
 height: 20px !important;

}

.p-datepicker .p-datepicker-header{
  padding: 0 !important;
}

.p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month {
  color: #495057;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
  font-weight: 600;
  padding: 2px !important;
}
.p-datepicker .p-datepicker-header .p-datepicker-title {
  line-height: 1;
}


@media (max-width:1200px) {

  .p-datepicker {
    transform-origin: center bottom;
    /* top: -600% !important; */
    top:100% !important;
    left: 0% !important;

    z-index: 99999;
  }

  /* :host ::ng-deep .p-datepicker .p-datepicker-group-container {

  } */
    .p-datepicker .p-datepicker-group-container table span {
   padding: 0 !important;
   width: 20px !important ;
   height: 20px !important;

  }

    .p-datepicker-header{
    padding: 0 !important;
  }

  .p-datepicker-header .p-datepicker-title .p-datepicker-month {
    color: #495057;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
    font-weight: 600;
    padding: 2px !important;
  }

}






