.blue {
    color: #1F4068
}

.gray {
    color: #6c6a6a;
}

.cursor {
    cursor: pointer;
}

.background {
    background-color: #1F4068 !important;
}

* {
    font-family: 'Poppins'
}
.backcancel {
  border: 1px solid#798CA4 !important;
  color: #0C1A2A !important;
}
::ng-deep  .mb-3{
  margin-bottom: 24px !important;
}
