
.fs-16{font-size: 1rem;}
.gray{color: #757a82;}
.h-350{height: 350px !important;}
.overflow-overlay{overflow: overlay;}
.btn.btn-color{
  background-color: #1f4068;
  padding: 12px, 24px, 12px, 20px;
  border-radius: 6px;
  box-shadow: 0px 1px 0px 0px #0000000D;
  color: #fff;
  font-weight: 500;
  font-size: 15px;
}

span.icon{
  color: var(--Primary-40, #1F4068);
  font-size: 22.78px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}
.image-size{
    width: 30px;
    height: 33px;
}
.badge{
  font-size: 14px ;
  padding: 4px 8px;
  font-weight: 500;
}

tr{
  border-bottom: 1px solid #F6F6F6 !important;
}
tr th{
  color: #484649;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
tr td{
  img{
    width: 40px !important;
    height: 40px !important;
  }
  h5{
    color: #060D15;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
  }
  p{
    color:  #939094;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
  }
}
::ng-deep .p-calendar{
  height: 36px;

}
td {
  font-size: 14px !important;
  padding: 16px !important;
  font-family: 'Poppins';
  height: 72px;
  border-bottom: 1px solid #F6F6F6 !important;

}

th {
    padding: 0px 16px !important;
    font-size: 14px !important;
    font-family: 'Poppins';
    border-bottom: 1px solid #F6F6F6 !important;
    background: #F6F6F6 !important  ;
    height: 45px;

}

.mt-06{
  margin-top:0.65rem !important;
}


