
.month,.week{padding: 5px 10px;}
.fs-16{font-size: 1rem;}
.gray{color: #757a82;}
.h-350{height: 350px !important;}
.overflow-overlay{overflow: overlay;}
.h-350{height: 350px !important;}

.total-detals {
  padding: 16px;
  border: 1px solid #EBEBEB;
  border-radius: 12px;
  margin-bottom: 10px;
  background-color: white;
  h3 {
      font-weight: 700;
  }
}
.red{
  color:red
}
.green{
  color: green;
}
span.icon{
  color: var(--Primary-40, #1F4068);
  font-size: 22.78px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}
.image-size{
    width: 30px;
    height: 33px;
}
.badge{
  font-size: 14px ;
  padding: 4px 8px;
  font-weight: 500;
}
.excellent {
  color: #027A48;
  background-color: #ECFDF3;
}

.poor {
  color: #FFB900;
  background-color: #FFF9E6;
}

.good {
  color: #175CD3;
  background-color: #EFF8FF;
}

tr{
  border-bottom: 1px solid #F6F6F6 !important;
}
tr th{
  color: #484649;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
tr td{
  img{
    width: 40px !important;
    height: 40px !important;
  }
  h5{
    color: #060D15;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
  }
  p{
    color:  #939094;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
  }
}
