<!-- start header -->
<header>
    <app-head (newItemEvent)="addItem($event)" [titleModule]="'Statistics'"></app-head>
</header>
<!-- end header -->
<div class="row m-0">
    <!-- start sidebar  -->
    <app-sidebar class="col-lg-2" [showSide]="showSide" [titlepage]="'Statistics'"></app-sidebar>
    <!-- end sidebar  -->
    <!-- start content page  -->
    <main class=" p-4 col-lg-10">

        <div class="d-md-flex justify-content-between dashboard" style="margin-top: 8px; margin-bottom: 16px;">
            <p class="fw-bold" style="color: #6c6a6a;">Statistics</p>
            <div class="d-md-flex justify-content-lg-between  ">
                <!-- start dropdown button  -->
                <app-dropdown [list]="listDropDown" (selected)="selectedfromDropDown($event)"></app-dropdown>
                <!-- end dropdown button  -->
            </div>
        </div>


        <div class="row g-4">
          <!-- start total details cards -->

          <div class="col-12 col-md-6 col-lg-4">
            <div class="total-detals">
              <div class="d-flex align-items-center">
                  <span class="icon">€</span>
                  <span class="mx-3 fw-bold">Income</span>
              </div>
              <div>
                  <h3 class="my-2">{{StatisticsCards.income ?? 0}}</h3>
                  <div>
                      <i class="fa fa-arrow-down red" *ngIf="StatisticsCards.income_Up==false" aria-hidden="true"></i>
                      <i class="fa fa-arrow-up green" *ngIf="StatisticsCards.income_Up==true" aria-hidden="true"></i>
                      <span class="ms-1 fw-bold" [class.red]="StatisticsCards.income_Up==false" [class.green]="StatisticsCards.income_Up==true"
                      >{{StatisticsCards.income_Perc}} %</span>
                      <span class="mx-3">vs last month</span>
                  </div>
              </div>
          </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <div class="total-detals">
              <div class="d-flex align-items-center">
                <span class="icon">€</span>
                  <span class="mx-3 fw-bold">Outcome</span>
              </div>
              <div>
                  <h3 class="my-2">{{StatisticsCards.outcome ?? 0}}</h3>
                  <div>
                      <i class="fa fa-arrow-down red" *ngIf="StatisticsCards.outcome_Up==false" aria-hidden="true"></i>
                      <i class="fa fa-arrow-up green" *ngIf="StatisticsCards.outcome_Up==true" aria-hidden="true"></i>
                      <span class="ms-1 fw-bold" [class.red]="StatisticsCards.outcome_Up==false" [class.green]="StatisticsCards.outcome_Up==true"
                      >{{StatisticsCards.outcome_Perc}} %</span>
                      <span class="mx-3">vs last month</span>
                  </div>
              </div>
          </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <div class="total-detals">
              <div class="d-flex align-items-center">
                <span class="icon">€</span>
                  <span class="mx-3 fw-bold">Total revenue
                   </span>
              </div>
              <div>
                  <h3 class="my-2">{{StatisticsCards.revenue ?? 0}}</h3>
                  <div>
                    <div>
                        <i class="fa fa-arrow-down red" *ngIf="StatisticsCards.revenue_Up==false" aria-hidden="true"></i>
                        <i class="fa fa-arrow-up green" *ngIf="StatisticsCards.revenue_Up==true" aria-hidden="true"></i>
                        <span class="ms-1 fw-bold" [class.red]="StatisticsCards.revenue_Up==false" [class.green]="StatisticsCards.revenue_Up==true"
                        >{{StatisticsCards.revenue_Perc}} %</span>
                        <span class="mx-3">vs last month</span>
                    </div>
                </div>
              </div>
          </div>
          </div>
          <!-- end total details cards -->
        </div>



        <div class="row mt-3">
            <!--Apartments requests table-->
            <div class="col-12 col-md-5  mb-3">
                <app-statistics-table1 [headTitle]="headTitleRequests" [listDropDown]="listDropDownRequests" [headTableList]="headTableListRequests" [rowDatalist]="rowDatalistRequests"></app-statistics-table1>
            </div>
            <!--Tenant payment history table-->
            <div class="col-12 col-md-7  mb-3">
                <app-statistics-table [headTitle]="headTitleTenantpaymenthistory" [listDropDown]="listDropDownTenantpaymenthistory" [headTableList]="headTableListTenantpaymenthistory" [rowDatalist]="rowDatalistTenantpaymenthistory"></app-statistics-table>
            </div>
        </div>

        <div class="row mt-3">
            <!--Apartment sizes table-->
            <div class="col-12 col-md-7  mb-3">
                <app-statistics-table [headTitle]="headTitleApartmentsizes" [listDropDown]="listDropDownApartmentsizes" [headTableList]="headTableListTenantpaymenthistory" [rowDatalist]="rowDatalistTenantpaymenthistory"></app-statistics-table>
            </div>
            <!--Apartment demands table-->
            <div class="col-12 col-md-5  mb-3">
                <app-statistics-table1 [headTitle]="headTitleApartmentdemands" [listDropDown]="listDropDownApartmentdemands" [headTableList]="headTableListApartmentdemands" [rowDatalist]="rowDatalistApartmentdemands"></app-statistics-table1>
            </div>

        </div>

        <!--User report problems table-->
        <div class="p-3 table-abrtment bg-white border rounded overflow-overlay  mb-3 h-350">
            <app-header-table [headTitle]="'User report problems'" [listDropDown]="listDropDownApartmentdemands"></app-header-table>
            <table class="table table-hover mt-2">
                <thead>
                    <tr>
                        <th class="fs-16 gray fw-bold" scope="col" *ngFor="let datahead of headTableListUserreportproblems">{{datahead}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of rowdataListUserreportproblems">
                        <th scope="row" class="d-md-flex ">
                            <img [src]="data.img" class="me-3" />
                            <div>
                                <p class="pf fw-bold mb-0">{{data.name}}</p>
                            </div>
                        </th>
                        <td>
                            <div class="d-md-flex ">
                                <img [src]="data.img1" class="me-3" />
                                <div>
                                    <p class="pf fw-bold mb-0">{{data.name1}}</p>
                                    <p class="gray mb-0">{{data.title}}</p>
                                </div>
                            </div>

                        </td>
                        <td class="gray">{{data.numberofproblem}}</td>
                    </tr>

                </tbody>
            </table>
        </div>


    </main>
    <!-- end content page  -->
</div>
