<header>
    <app-head (newItemEvent)="addItem($event)" [titleModule]="'Finance'"></app-head>
</header>
<div class="row m-0">
    <!-- start sidebar  -->
    <app-sidebar class="col-lg-2 " [showSide]="showSide" [titlepage]="'Finance'"></app-sidebar>
    <!-- end sidebar  -->
    <!-- start content page  -->
    <main class="p-4 col-lg-10">
        <div class="d-md-flex justify-content-between  zswed" style="margin-bottom: 20px;">
            <div class="d-flex" style="margin-left: 77px;">

                <p (click)="backClicked()" class="fw-bold" style="color: black ;cursor: pointer;">Back </p>
            </div>
            <div style="margin-right: 94px;">
                <button (click)="OnPrint()" class="outline-0 border-0 rounded-3 py-2 px-3 me-2 fw-bold" style="background-color: #EBEBEB; color:#1F4068"><img src="assets/images/print.svg"> Print</button>
                <button (click)="exportAsPDF('MyDIv');" class="outline-0 border-0 rounded-3 py-2 px-3 text-white fw-bold" style="background-color:#1F4068"><img
        src="assets/images/Vector.svg"> Download PDF</button>
            </div>
        </div>
        <!-- <div class="d-flex">
            <p class="fw-bold me-2" style="color: #6c6a6a">Back</p>

        </div> -->
        <div class="card shadow-sm rounded-3 xxcprint" id="MyDIv">
          <div class="d-flex justify-content-between " style="height: 110px;">
            <div class="image">
              <img style="width: 169.17px;" src="./assets/images/logo.svg" />
            </div>
            <div class="date">
              <p class="phonein">Prepared Date: {{_details?.prepared_Date|date: 'dd/MM/yyyy' }}</p>
              <p class="phonein">Title: {{_details?.invoice_Title}}</p>
          </div>
          </div>
          <div class="row mb-4">
            <div class="col-12">
              <div class="invoiceCard p-4">
                <div class="mainTitle d-flex justify-content-between align-items-center mb-4">
                  <div class="title">
                    <h3 class="invice1">Invoice</h3>
                  </div>
                  <div class="InvoiceNo">
                    <p class="invoicenu">Invoice No.</p>
                    <p class="invocede"> {{invoiceDetail?.inv_Code}} </p>
                  </div>

                </div>
                <div class="client d-flex justify-content-between">
                  <div class="client">
                    <h4 >Client Name</h4>
                    <p>{{invoiceDetail?.clients[0]}}</p>
                  </div>
                  <div>
                    <div class="InvoiceNo mb-3">
                      <p class="invoice my-0">Issued on</p>
                      <div class="dateDetails my-0">{{invoiceDetail?.issued_on| date }} </div>
                    </div>
                    <div class="InvoiceNo">
                      <p class="invoice my-0">Payment Due</p>
                      <div class="dateDetails my-0">{{invoiceDetail?.payment_Due |date}} </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="row p-3">
            <div class="col-md-8">
              <h5 class="data"> Invoice </h5>
                 <div class="desc mb-3" *ngFor="let invoice of invoices">
                  <p >{{invoice?.invoice_Desc}}</p>

                 </div>
            </div>
            <div class="col-md-2">
              <div>
                <h5 class="data"> Price </h5>
                <div class="desc mb-3" *ngFor="let invoice of invoices">
                 <p style="color: #60737D;">{{invoice?.invoice_Amount}}</p>
                </div>
              </div>

            </div>
            <div class="col-md-2">
              <div>
                <h5 class="data"> Total </h5>
                <div class="desc mb-3" *ngFor="let invoice of invoices">
                 <p >{{invoice?.invoice_Total}}</p>
                </div>
              </div>

            </div>
          </div>


          <div class="stysda">
            <div style="justify-content: flex-start; align-items: flex-start; gap: 6px; display: flex">
                <div class="ccarddinvice">Total</div>
                <div style="justify-content: center; align-items: center; gap: 1.50px; display: flex">
                    <div class="ccarddinvice">(</div>
                    <div style="justify-content: flex-start; align-items: flex-start; display: flex">
                        <div style="text-align: right; color: #121722; font-size: 15px; font-family: 'Popines'; font-weight: 400; word-wrap: break-word">Euro</div>
                    </div>
                    <div class="ccarddinvice">)</div>
                </div>
            </div>
            <div class="pricinn">{{invoiceDetail?.grand_Total}}</div>
        </div>
        
        </div>

    </main>
    <!-- end content page  -->
</div>
