.card {
    min-height: 879px!important;
    position: relative;
    background: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    overflow: hidden;
    padding: 24px 18px !important;
}
.date p{
  color: #484649;
  font-size: 13.91px;
  font-weight: 400;
  line-height: 18.09px;
  word-wrap: break-word
}
.invoiceCard{
  border-radius: 18.004px;
  background: #EAF0F7;
}
.mainTitle .title h3 {
  color: #121722;
  font-size: 30.01px;
  font-weight: 700;
  word-wrap: break-word
}
.client h4{
  color: #121722;
  font-size: 21px;
  font-weight: 600;
}
.client p{
  color: #121722;
  font-size: 15px;
  font-weight: 400;
}
.invoice{
  color: #60737D;
  text-align: right;
  font-size: 15px;
  font-weight: 400;
}
.dateDetails{
  color: #121722;
  text-align: right;
  font-size: 16px;
  font-weight: 400;
}
.desc{
  color:  #313033;
  font-size: 16px;
  font-weight: 400;
  line-height: 24.006px;
}
.data{
  color: #60737D;
  font-size: 15px;
  font-weight: 400;
}

@media print {
    .card {
        margin-top: 0%;
    }
    .section33 {
        float: right;
        margin-left: 500px;
    }
}

.ddfdffd {
    text-align: right;
    color: #60737D;
    font-size: 16.50px;
    font-weight: 400;
    word-wrap: break-word
}

@media (min-width: 768px) {
    .card {
        margin-left: 70px;
        width: 1050px;
    }

}

.invoicenu {
    text-align: right;
    color: #60737D;
    font-size: 15px;
    font-weight: 400;
}

.invocede {
    text-align: right;
    color: #121722;
    font-size: 19.50px;
    font-weight: 700;
}

.divclassss {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 18px;
    display: flex
}

.ttott {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 3px;
    display: flex
}

.issue33 {
    text-align: right;
    color: #60737D;
    font-size: 15px;
    font-weight: 400;
    word-wrap: break-word
}

.datedes {
    text-align: right;
    color: #121722;
    font-size: 15px;
    font-weight: 400;
    word-wrap: break-word
}

.phonein {
    color: #484649;
    font-size: 13.91px;
    font-weight: 400;
    line-height: 18.09px;
    word-wrap: break-word
}


.prepheap {
    justify-content: flex-start;
    align-items: flex-start;
    gap: 6.96px;
    display: flex
}



.pricinn {
    text-align: right;
    color: #121722;
    font-size: 24.01px;
    font-weight: 700;
    word-wrap: break-word
}

.ccarddinvice {
    text-align: right;
    color: #60737D;
    font-size: 15px;
    font-weight: 400;
    word-wrap: break-word
}

.priceeins {
    left: 934.72px;
    top: 531.06px;
    position: absolute;
    text-align: right;
    color: #121722;
    font-size: 16.50px;
    font-weight: 400;
    word-wrap: break-word
}

.stysda {
    width: 364.59px;
    height: 60.01px;
    padding-left: 30.01px;
    padding-right: 30.01px;
    left: 670.66px;
    top: 765px;
    position: absolute;
    background: #DEE7F2;
    border-radius: 18px;
    justify-content: space-between;
    align-items: center;
    display: inline-flex
}
